<template>
  <div class="wrap">
    <nav-bar title="仿网易严选" style="font-size:0.135rem;border-bottom:1px solid #f4f4f4;"></nav-bar>
    <div class="top">
      <div class="search">商品搜索，共293款好物</div>
    </div>
    <div class="cont" v-for="(item,index) in catalogs">
      <ul class="left">
        <li v-for="(item,index) in catalogs" :key="index">{{item.name}}</li>
      </ul>
      <div class="right">
        <img :src="item.wap_banner_url" class="bannerimg" />
        <div class="titles">—— 居家分类 ——</div>

        <div class="cate">
          <div class="littles">
            <img
              src="http://yanxuan.nosdn.127.net/2e2fb4f2856a021bbcd1b4c8400f2b06.png"
              alt
              class="cateimg"
            />
            <p>布艺软装</p>
          </div>
          <div class="littles">
            <img
              src="http://yanxuan.nosdn.127.net/b43ef7cececebe6292d2f7f590522e05.png"
              alt
              class="cateimg"
            />
            <p>被枕</p>
          </div>
          <div class="littles">
            <img
              src="http://yanxuan.nosdn.127.net/81f671bd36bce05d5f57827e5c88dd1b.png"
              alt
              class="cateimg"
            />
            <p>床件用品</p>
          </div>
          <div class="littles">
            <img
              src="http://yanxuan.nosdn.127.net/f702dc399d14d4e1509d5ed6e57acd19.png"
              alt
              class="cateimg"
            />
            <p>灯具</p>
          </div>
          <div class="littles">
            <img
              src="http://yanxuan.nosdn.127.net/1611ef6458e244d1909218becfe87c4d.png"
              alt
              class="cateimg"
            />
            <p>地垫</p>
          </div>
          <div class="littles">
            <img
              src="http://yanxuan.nosdn.127.net/d6e0e84961032fc70fd52a8d4d0fb514.png"
              alt
              class="cateimg"
            />
            <p>床垫</p>
          </div>
          <div class="littles">
            <img
              src="http://yanxuan.nosdn.127.net/79275db76b5865e6167b0fbd141f2d7e.png"
              alt
              class="cateimg"
            />
            <p>家饰</p>
          </div>
          <div class="littles">
            <img
              src="http://yanxuan.nosdn.127.net/d5d41841136182bf49c1f99f5c452dd6.png"
              alt
              class="cateimg"
            />
            <p>家具</p>
          </div>
          <div class="littles">
            <img
              src="http://yanxuan.nosdn.127.net/dae4d6e89ab8a0cd3e8da026e4660137.png"
              alt
              class="cateimg"
            />
            <p>宠物</p>
          </div>
          <div class="littles">
            <img
              src="http://yanxuan.nosdn.127.net/bd17c985bacb9b9ab1ab6e9d66ee343c.png"
              alt
              class="cateimg"
            />
            <p>夏凉</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import http from "@/http/index";
export default {
  data() {
    return {
      catalogs: []
    };
  },
  methods: {
    getcatalog() {
      this.$http("/catalog/index", "GET", {}, {}).then(res => {
        this.catalogs = res.data.categoryList;
        console.log(this.catalogs);
      });
    }
  },
  mounted() {
    this.getcatalog();
  }
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
}
.top {
  height: 0.3rem;
  width: 100%;
  margin-top: 0.08rem;
  background: #fff;
}
.wrap {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}
.cont {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0.1rem;
}
.search {
  width: 90%;
  border: 0px;
  height: 0.3rem;
  line-height: 0.28rem;
  margin-top: 0.1rem;
  border-radius: 10px;
  margin: 0 auto;
  color: #666;
  text-align: center;
  background: #f4f4f4;
  font-size: 0.13rem;
}
.left li:hover {
  color: red;
  border-left: 2px solid red;
  font-size: 0.155rem;
}
.left {
  width: 0.8rem;
  height: 5rem;
  background: #fff;
  border-right: 1px solid #f4f4f4;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* margin-top:0.1rem; */
}
.left li {
  width: 100%;
  height: 0.4rem;
  font-size: 0.14rem;
  line-height: 0.35rem;
}
.right {
  flex-direction: column;
  display: flex;
  width: 2.6rem;
  height: auto;
}
.bannerimg {
  display: flex;
  flex-direction: row;
  width: 2.5rem;
  height: 0.9rem;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
}
.titles {
  width: 2.6rem;
  height: 0.3rem;
  /* display:flex; */
  /* flex-direction:row; */
  /* margin:0.1rem auto; */
  text-align: center;
  margin-top: 0.1rem;
  color: #333;
}
.cate {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 0.2rem;
}
.littles {
  width: 33.33%;
  height: 1rem;
  display: flex;
  flex-direction: column;
}
.cateimg {
  width: 0.7rem;
  height: 0.72rem;
  display: flex;
  flex-direction: column;
}
.cate p {
  width: 0.7rem;
  height: 0.3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
</style>