<template>
    <div class="wrap">
        <div class="topictop">
            <div class="back" @click="back()"><</div>
        <div class="topictitle">仿网易严选</div>
        <button class="close"></button>
     </div>
        <img 
        class="imgone"
        src="https://yanxuan.nosdn.127.net/75c55a13fde5eb2bc2dd6813b4c565cc.jpg" alt="">
         <img 
        class="imgfour"
        src="https://yanxuan.nosdn.127.net/9d413d1d28f753cb19096b533d53418d.jpg" alt="">
        <img 
        class="imgthree"
        src="https://yanxuan.nosdn.127.net/e27e1de2b271a28a21c10213b9df7e95.jpg" alt="">
        <img 
        class="imgtwo"
        src="https://yanxuan.nosdn.127.net/64b0f2f350969e9818a3b6c43c217325.jpg" alt="">       
         <img 
        class="imgtwo"
        src="https://yanxuan.nosdn.127.net/a668e6ae7f1fa45565c1eac221787570.jpg" alt="">       
      <div class="message">
            <div class="messagetop">
                <span ></span>
            </div>
       </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            detailid:''
        };
    },
    methods:{
        back(){
            this.$router.push({name:'Two'})
        }
    },
    created(){
        this.detailid=this.$route.query.detailid
    },
}
</script>

<style>
.wrap{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
.back{
    width:0.2rem;
    height:100%;
    font-size:0.2rem;
    line-height:0.4rem;
    font-weight: 700;
}
.message{
    width:100%;
    height:6rem;
    background:#fff;
}
.topictop{
    width:100%;
    height:0.4rem;
    display:flex;
    background:#fff;
}
.topictitle{
    width:30%;
    height:100%;
    color:black;
    text-align: center;
    font-size:0.13rem;
    margin:0 auto;
    line-height:0.4rem;
}
.imgone{
    width:100%;
    height:330px;
}
.imgtwo{
    height:440px;
    width:100%;

}
.imgthree{
    width:100%;
    height:230px;
}

.imgfour{
    width:100%;
    height:230px;
}
</style>