<template>
    <div id="gond">
      <div class="topictop">
      <div class="back" @click="back()">
        <i class="el-icon-arrow-left"></i>
      </div>
      <div class="topictitle">仿网易严选</div>
    </div>
        <div class="wawr_1">
          <div class="wawr_2">
          <img src="http://yanxuan.nosdn.127.net/658f09b7ec522d31742b47b914d64338.png" alt="">
          </div>
          <div class="pp">
          <p>严选寻访Calvin Klein品牌的制造商， 深入世界领带第一生产地，设计与品质并重， 致力于给消费者带来优质典雅的服饰用品。</p>
          </div>
        </div>
        <router-view />
    </div>
</template>
<script>

export default {
  name: "gond",
  data() {
    return {
      detailid: ""
    };
  },
   methods: {
    back() {
      this.$router.push({ name: "One" });
    }
  },
  created() {
   this.detailid = this.$route.query.detailid;
  }
};
</script>
<style scoped>
*{
    margin: 0;
    padding: 0;
}

#gond{
    width: 100%;
    height: auto;
}
.back{
  width: 0.2rem;
  height: 30%;
  font-size: 0.25rem;
  line-height: 0.4rem;
  font-weight: 700;
  margin: 0.05rem 0.05rem;
}
.topictop {
  width: 100%;
  height: auto;
  display: flex;
  background: #fff;
}
.topictitle {
  width: 70%;
  height: 100%;
  color: black;
  text-align: center;
  font-size: 0.18rem;
  margin: 0 auto;
  line-height: 0.4rem;
  margin: 0.05rem 0.28rem;
}
.wawr_1{
  width: 100%;
  height: auto;
}
.wawr_2{
  width: 100%;
  height: 1.5rem;
  overflow: hidden;
  background: #ffffff;
}

.wawr_2 img{
  width: 100%;
  height: 2.1rem;;
}
.pp{
  width: 100%;
  height: 0.8rem;
  background: #ffffff;
  overflow: hidden;
}
.wawr_1 p{
  width: 90%;
  height: auto;
  margin: 0 auto;
  font-size: 0.14rem;
  text-align: center;
  background: #ffffff;
  line-height: 0.2rem;
  margin-top: 0.1rem;
}
</style>