<template>
  <div id="pingpa">
    <div class="topictop">
      <div class="back" @click="back()">
        <i class="el-icon-arrow-left"></i>
      </div>
      <div class="topictitle">仿网易严选</div>
    </div>
    <ul class="infinite-list uli" style="overflow:auto">
      <li v-for="(item,index) in getPingpa" :key="index" class="infinite-list-item">
        <img :src="item.app_list_pic_url" alt />
      </li>
    </ul>
  </div>
</template>
<script>
import { http } from "@/http/index";
export default {
  name: "pingpa",
  data() {
    return {
      detailid: "",
      getPingpa: [],
      page: 1,
      totalPages: 0
    };
  },
  methods: {
    back() {
      this.$router.push({ name: "One" });
    },
    getPing() {
      http(
        "brand/list",
        "GET",
        {},
        {
          page: this.currentPage,
          size: this.pageSize
        }
      ).then(res => {
        console.log(res);
        this.getPingpa = res.data.data;
        this.totalPages = res.data.totalPages;
      });
    },
    onReachBottom() {
      if (this.totalPages > this.page) {
        page: this.page + 1;
      } else {
        return false;
      }

      this.getPingpa();
    }
  },
  mounted() {
    this.getPing();
  },
  created() {
    this.detailid = this.$route.query.detailid;
  }
};
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
}

#zhousi {
  width: 100%;
  height: auto;
}

.back {
  width: 0.2rem;
  height: 30%;
  font-size: 0.25rem;
  line-height: 0.4rem;
  font-weight: 700;
  margin: 0.05rem 0.05rem;
}
.topictop {
  width: 100%;
  height: auto;
  display: flex;
  background: #fff;
}
.topictitle {
  width: 70%;
  height: 100%;
  color: black;
  text-align: center;
  font-size: 0.18rem;
  margin: 0 auto;
  line-height: 0.4rem;
  margin: 0.05rem 0.28rem;
}

.uli {
  width: 100%;
  height: auto;
}

.uli li {
  width: 100%;
  height: 2.08rem;
  margin-bottom: 0.08rem;
}

.uli li img {
  width: 100%;
  height: 2.08rem;
}
</style>