<template>
  <div id="zhousi">
    <div class="topictop">
      <div class="back" @click="back()">
        <i class="el-icon-arrow-left"></i>
      </div>
      <div class="topictitle">仿网易严选</div>
    </div>
    <div class="wawr_1">
      <div class="lunbo1">
        <wc-swiper>
          <wc-slide v-for="(item,index) in getZhuoo.gallery" :key="index">
            <img :src="item.img_url" alt />
          </wc-slide>
        </wc-swiper>
      </div>
      <div class="service-policy">
        <p class="item">30天无忧退货</p>
        <p class="item">48小时快速退款</p>
        <p class="item">满88元免邮费</p>
      </div>
      <div class="cent">
        <div class="c">
          <p class="name">简约知性记忆棉坐垫</p>
          <p class="desc">慢回弹海绵，时尚设计。</p>
          <p class="price">￥46</p>
        </div>
      </div>
      <div class="Xuanze">
        <div class="Xuanze_1">
          <p>请选择规格数量</p>
        </div>
        <div class="Xuanze_2">
          <div class="Xuanze_3">
            <i class="el-icon-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="Canshu">
        <p>商品参数</p>
      </div>
      <div class="Xiangqing">
        <div class="Xiangqing_1">

        </div>
      </div>

      <div class="bottom">
        <div class="bottom_1">
          <div class="imgg">
            <img src="../../../images/icon_collect.png" alt />
          </div>
        </div>
        <div class="bottom_1">
          <div class="imgg">
            <img src="../../../images/ic_menu_shoping_nor.png" alt />
          </div>
        </div>
        <div class="bottom_2">
          <div class="imgg1">
            <p>立即购买</p>
          </div>
        </div>
        <div class="bottom_2" style="background:#b4282d; color:#fff;border:0;">
          <div class="imgg1">
            <p>加入购物车</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import http from "@/http/index";
export default {
  name: "zhousi",
  data() {
    return {
      getZhuoo: [],
      detailid: ""
    };
  },
  methods: {
    getZhuo() {
      this.$http("/goods/detail?id=1134030", "GET", {}, {}).then(res => {
        console.log(res);
        this.getZhuoo = res.data;
      });
    },
    back() {
      this.$router.push({ name: "One" });
    }
  },
  mounted() {
    this.getZhuo();
  },
  created() {
    this.detailid = this.$route.query.detailid;
  }
};
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
}

#zhousi {
  width: 100%;
  height: auto;
}

.back {
  width: 0.2rem;
  height: 30%;
  font-size: 0.25rem;
  line-height: 0.4rem;
  font-weight: 700;
  margin: 0.05rem 0.05rem;
}
.topictop {
  width: 100%;
  height: auto;
  display: flex;
  background: #fff;
}
.topictitle {
  width: 70%;
  height: 100%;
  color: black;
  text-align: center;
  font-size: 0.18rem;
  margin: 0 auto;
  line-height: 0.4rem;
  margin: 0.05rem 0.28rem;
}

.wawr_1 {
  width: 100%;
  height: auto;
}

.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 0.5rem;
  display: flex;
  background: #fff;
}

.bottom_1 {
  width: 20%;
  height: 0.5rem;
  border: 1px solid #eee;
}

.imgg {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.12rem auto;
}

.imgg img {
  width: 0.26rem;
  height: 0.26rem;
}

.bottom_2 {
  width: 30%;
  height: 0.5rem;
  border: 1px solid #eee;
}
.imgg1 p {
  font-size: 0.17rem;
  text-align: center;
  line-height: 0.5rem;
}
.lunbo1 {
  width: 100%;
  height: 3.4rem;
}

.lunbo1 img {
  width: 100%;
  height: 3.4rem;
}

.service-policy {
  width: 90%;
  height: 0.3rem;
  background: #f4f4f4;
  padding: 0 0.17rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.service-policy .item {
  background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/servicePolicyRed-518d32d74b.png)
    0 center no-repeat;
  background-size: 0.1rem;
  padding-left: 0.15rem;
  display: flex;
  align-items: center;
  font-size: 0.1rem;
  color: #666;
}

.cent {
  width: 100%;
  height: 1.2rem;
  background: #fff;
}

.c {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #f4f4f4;
}

.c text {
  display: block;
  width: 100%;
  text-align: center;
}
.name {
  font-size: 0.19rem;
  line-height: 0.5rem;
  text-align: center;
}

.desc {
  font-size: 0.13rem;
  color: #999;
  text-align: center;
}
.price {
  height: 0.5rem;
  font-size: 0.13rem;
  line-height: 0.8rem;
  color: #b4282d;
  text-align: center;
}

.Xuanze {
  height: auto;
  background: #fff;
  border: 1px solid #eeeeee;
  display: flex;
  margin-bottom: 0.08rem;
}

.Xuanze_1 {
  width: 75%;
  height: 0.54rem;
}

.Xuanze_1 p {
  font-size: 0.14rem;
  line-height: 0.54rem;
  margin-left: 0.2rem;
}

.Xuanze_2{
  width: 25%;
  height: 0.54rem;
}

.Xuanze_3{
  width: 22px;
  height: 22px;
  margin: 0.15rem auto;
}

.Xuanze_2 i{
  margin: 0 auto;
  font-size: 0.22rem
}

.Canshu{
  width: 100%;
  height: auto;
}

.Canshu p{
  height: 0.52rem;
  background: #fff;
  font-size: 0.18rem;
  padding: 0.2rem 0.2rem;
}

.Xiangqing{
  width: 100%;
  height: auto;
  background: #fff;
}

.Xiangqing{
  width: 100%;
  height: 3.52rem;
}
</style>