<template>
  <div class="wraps">
    <div class="topictop">
      <div class="topictitle">仿网易严选</div>
      <button class="close"></button>
    </div>
    <div class="contents" :data="bannerlist">
      <!-- 内容： -->
      <div class="banner-item" @click="detail()" v-for="(item,index) in bannerlist" :key="index">
        <img :src='item.scene_pic_url' alt class="imgs" />
        <div class="item-content">
          <h4>{{item.title}}</h4>
          <p class="pone">{{item.subtitle}}</p>
          <p class="ptwo">{{item.price_info}}元起</p>
        </div>
      </div>
     
        <div class="pages">
          <div class="last">上一页</div>
          <div class="next">下一页</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import http from '@/http/index'
export default {
  data() {
    return {
      bannerlist: []
    };
  },
  methods: {
    getbannerlist(){
        this.$http('/topic/list','GET',{},{
            page:1,
            size:10,
        }).then(res=>{
            this.bannerlist=res.data.data
            console.log(this.bannerlist)
        })
    },
    detail() {
      this.$router.push({
        name: "Detailss",
        query: { detailid: this.detailid }
      });
    }
  },
  mounted() {
    this.getbannerlist()
  }
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
}
.topictop {
  width: 100%;
  height: 0.4rem;
  background: #fff;
}
.topictitle {
  width: 30%;
  height: 100%;
  text-align: center;
  font-size: 0.13rem;
  margin: 0 auto;
  line-height: 0.4rem;
}
.banner-item {
  width: 100%;
  height: 3rem;
  margin-bottom: 0.1rem;
  background: #fff;
}
.wraps {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}
.contents {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.imgs {
  height: 220px;
  width: 100%;
}
.item-content {
  height: auto;
  width: 100%;
  text-align: center;
}
.item-content h4 {
  font-size: 0.14rem;
  margin-top: 0.1rem;
}
.item-content .pone {
  color: #999;
  font-size: 0.11rem;
  margin-top: 0.1rem;
}

.item-content .ptwo {
  color: red;
  margin-top: 0.1rem;
  font-size: 0.11rem;
}
.pages {
  width: 100%;
  height: 23px;
  display: flex;
}
.last {
  width: 207px;
  height: 54px;
  flex-direction: column;
  display: flex;
  text-align: center;
  line-height: 54px;
}
.next {
  width: 207px;
  height: 54px;
  flex-direction: column;
  display: flex;
  text-align: center;
  line-height: 54px;
}
</style>