<template>
  <div class="main">
      <router-view></router-view>
      <tab-bar></tab-bar>
  </div>
</template>

<script>
import TabBar from './TabBar'

export default {
    components: {
        TabBar
    }
}
</script>

<style>

</style>