<template>
  <div class="nav-bar">
      {{title}}
  </div>
</template>

<script>
export default {
    props:['title']
}
</script>

<style lang="scss" scoped>
    .nav-bar{
        position: relative;
        height: 0.44rem;
        line-height: 0.44rem;
        text-align: center;
        font-size: 0.18rem;
        background: #fff
    }
</style>