<template>
  <ul class="tabBar">
       <router-link :to="{name: 'One'}" tag="li">
            <img src="../images/shouye.png" alt="">
            <div class="mainFont">首页</div> 
      </router-link>
      <router-link :to="{name: 'Two'}" tag="li">
            <img src="../images/zhuanlan.png" alt="">
            <div class="mainFont">专栏</div>
      </router-link>
      <router-link :to="{name: 'Three'}" tag="li">
            <img src="../images/fenlei.png" alt="">
            <div class="mainFont">分类</div>
      </router-link>
      <router-link :to="{name: 'Shopping'}" tag="li">
            <img src="../images/gouwuche.png" alt="" style="margin-left:6px;">
            <div class="mainFont">购物车</div>
      </router-link>
      <router-link :to="{name: 'Five'}" tag="li">
            <img src="../images/wode.png" alt="">
            <div class="mainFont">我的</div>
      </router-link>
      
  </ul>
</template>

<script>

</script>
<style>
.tabBar{
    width: 100%;
    height: 0.4rem;
    background: white;
    position: fixed;
    bottom: 0.01rem;
    display: flex;
    justify-content: space-around;
    color: #A2A2A2;
    list-style: none;
}
.tabBar > li > img {
      width: 0.2rem;
      height: 0.2rem;
}
.mainFont{
      font-size: 12px;
}
</style>


