<template>
  <div class="mine">

  <router-view></router-view>
    <div class="mineTop">
      <div>我的</div>
    </div>
    <div class="denglu">
      <div class="ttoouu">
        <img class="imgg1" src="http://yanxuan.nosdn.127.net/8945ae63d940cc42406c3f67019c5cb6.png" alt="">
        <div class="dengDiv">点击登录</div>
        <img  class="imgg2" src="../../images/you.png" alt="">
      </div>
    </div>
    <div class="mineCenter">
      <div class="centerUp">
        <div class="centerP">
          <img src="../../images/picture_03.png" alt="">
          <p @click="Myorder">我的订单</p>
        </div>
        <div class="centerP">
          <img src="../../images/picture_05.png" alt="">
           <router-link :to="{path:'/son'}" replace tag="p"> 
            <p style="margin-left:0.08rem;"> 优惠券</p>
         </router-link>
        </div>
        <div class="centerP">
          <img src="../../images/picture_07.png" alt="">
          <p style="margin-left:0.43rem;">礼品卡</p>
        </div>
      </div>

      <div class="centerUp">
        <div class="centerP">
          <img src="../../images/picture_12.png" alt="">
          <p @click="toCollect">我的收藏</p>
        </div>
        <div class="centerP">
          <img src="../../images/picture_13.png" alt="">
          <p @click="Myfootprint">我的足迹</p>
        </div>
        <div class="centerP">
          <img src="../../images/picture_14.png" alt="">
          <p>会员福利</p>
        </div>
      </div>

      <div class="centerUp">
        <div class="centerP">
          <img src="../../images/picture_18.png" alt="">
          <p>地址管理</p>
        </div>
        <div class="centerP">
          <img src="../../images/picture_19.png" alt="">
          <p>账号安全</p>
        </div>
        <div class="centerP">
          <img src="../../images/picture_20.png" alt="">
          <p>联系客服</p>
        </div>
      </div>

      <div class="centerUp">
        <div class="centerP">
          <img src="../../images/picture_24.png" alt="">
          <p>帮助中心</p>
        </div>
        <div class="centerP">
          <img src="../../images/picture_25.png" alt="">
          <p>意见反馈</p>
        </div>
        <div>
          
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Son from "./Son"
export default {
  methods:{
     clickIt:function (){
      window.location.href="./Son.vue"
     },
    toCollect(){
      this.$router.push('/Collect')
    },
    // 我的订单
   Myorder(){
          this.$router.push('/fout/myorder')
        },
    //我的足迹
    Myfootprint(){
      this.$router.push('/fout/myfootprint')
    }
  }
}

</script>

<style>
.mine{
  width: 100%;
  height: 6.2rem;
  background: #f4f4f4;
}
.mineTop{
  width: 100%;
  height: 0.5rem;
  background: #333333;
  border-bottom: solid 1px black;
}
.mineTop>div{
  width: 0.3rem;
  color: white;
  font-size: 14px;
  margin: 0 auto;
  line-height: 0.5rem;
}
.denglu{
  width: 100%;
  height: 1.6rem;
  background: #333333;
  position: relative;
}
.ttoouu{
  width: 90%;
  height: 0.8rem;
  position: absolute;
  left: 0.2rem;
  top: 0.4rem;
}
.imgg1{
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  float: left;
}
.dengDiv{
  color: white;
  font-size: 18px;
  width: 0.8rem;
  float: left;
  margin-left: 0.2rem;
  margin-top: 0.3rem;
}
.imgg2{
  width: 0.25rem;
  height: 0.25rem;
  float: right;
  margin-top: 0.28rem;
  border-radius: 50%;
}
.mineCenter{
  width: 100%;
  height: 3.3rem;
}
.centerUp{
  width: 100%;
  height: 0.8rem;
  margin-bottom: 0.03rem;
  display: flex;
  justify-content: space-between;
}
.centerUp>div{
  width: 32.8%;
  height: 0.8rem;
  background: white;
}
.centerP>img{
  margin-left: 0.48rem;
  margin-top: 0.15rem; 
}
.centerP>p{
  margin-left: 0.35rem;
}
</style>