<template>
  <div class="son">
    <div class="wap-contia">
      <!-- <el-breadcrumb-item :to="{ path: 'homes' }">首页</el-breadcrumb-item> -->
      <div class="contia">
        <input placeholder="请输入优惠码" type="text" class="inp" />
        <div class="tex">兑换</div>
      </div>
      <div class="pp">
        <img  style=" width: 0.12rem;
    height: 0.12rem;" class="img" src="../Five/img/_20191104111008_03.png" alt="#" />
        使用说明
      </div>
      <div class="coup-list">
        <div class="item">
          <div class="tag">新人专享</div>
          <div
            class="con"
            style="width: 3.052rem;
    height: 0.502rem;
    box-sizing: border-box;
    padding-left: 0.2rem;
    padding-right:0.2rem;
    padding-top:0.4rem;
    color:#fff;
    display:flex; "
          >
            <div class="lfet">
              <div class="name" style="font-size:0.2rem;">限时免单券</div>
              <div class="time" style="  margin-top:0.12rem;">2017.06.08-2017.06.11</div>
            </div>
            <div
              class="right"
              style="  width:0.84rem;
    height:0.24rem;
    background:rgba(255,255,255,0.8);
    color:#b69150;
   text-align: center;
   line-height: 0.24rem;
   border-radius: 0.04rem;
   position: absolute;
   right:0.2rem;"
            >去使用</div>
          </div>
          <div
            class="bottom"
            style=" position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0,  0,  0,  0.08);
    height: 0.39rem;
    flex-direction: row;
    padding: 0.1rem;
    box-sizing: border-box;"
          >
            <p
              style="display: block;
    height: 0.3rem;
    flex: 1;
    overflow: hidden;
    font-size: 0.13rem;
    line-height: 0.3rem;
    color: #fff;"
            >简约陶瓷马克杯专享；小米用户福利；限时购、三石福利价、礼品卡及详情页标注不可用券特殊商品除外</p>
            <img
              style=" width: 0.12rem;
    height: 0.12rem;"
              src="https://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/couponArrow-71315b4145.png"
              alt="#"
            />
          </div>
        </div>
        <div class="item">
          <div class="tag">新人专享</div>
          <div
            class="con"
            style="width: 3.052rem;
    height: 0.502rem;
    box-sizing: border-box;
    padding-left: 0.2rem;
    padding-right:0.2rem;
    padding-top:0.4rem;
    color:#fff;
    display:flex; "
          >
            <div class="lfet">
              <div class="name" style="font-size:0.2rem;">限时免单券</div>
              <div class="time" style="  margin-top:0.12rem;">2017.06.08-2017.06.11</div>
            </div>
            <div
              class="right"
              style="  width:0.84rem;
    height:0.24rem;
    background:rgba(255,255,255,0.8);
    color:#b69150;
   text-align: center;
   line-height: 0.24rem;
   border-radius: 0.04rem;
   position: absolute;
   right:0.2rem;"
            >去使用</div>
          </div>
          <div
            class="bottom"
            style=" position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0,  0,  0,  0.08);
    height: 0.39rem;
    flex-direction: row;
    padding: 0.1rem;
    box-sizing: border-box;"
          >
            <p
              style="display: block;
    height: 0.3rem;
    flex: 1;
    overflow: hidden;
    font-size: 0.13rem;
    line-height: 0.3rem;
    color: #fff;"
            >简约陶瓷马克杯专享；小米用户福利；限时购、三石福利价、礼品卡及详情页标注不可用券特殊商品除外</p>
            <img
              style=" width: 0.12rem;
    height: 0.12rem;"
              src="https://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/couponArrow-71315b4145.png"
              alt="#"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>
<style scoped >
.wap-contia .contia {
  height: 0.55rem;
  width: 100%;
  background: #fff;
  display: flex;
  margin-top: 0.15rem;
  justify-content: space-around;
  line-height: 0.55rem;
}
.contia .inp {
  height: 0.35rem;
  flex: 1;
  margin-top: 0.1rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding-left: 0.14rem;
}

.contia .tex {
  margin-right: 0.3rem;
  background: #ccc;
  width: 0.84rem;
  height: 0.35rem;
  margin-top: 0.1rem;
  line-height: 0.35rem;
  text-align: center;
}
.wap-contia .pp {
  line-height: 0.36rem;
  height: 0.36rem;
  text-align: right;
  padding-right: 0.1rem;
  color: #999;
}

.coup-list {
  height: auto;
  overflow: hidden;
  padding-left: 0.1rem;
  box-sizing: border-box;
  padding-right: 0.1rem;
}
.coup-list .item {
  height: 1.45rem;
  width: 100%;
  background: linear-gradient(to right, #cfa568, #e3bf79);
  position: relative;
  margin-bottom: 0.15rem;
}
.coup-list .item .tag {
  background: #a48143;
  width: 0.56rem;
  height: 0.16rem;
  line-height: 0.16rem;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
}
/* /////// */
.coup-list .item .con {
  width: 3.052rem;
  height: 0.502rem;
  box-sizing: border-box;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.4rem;
  color: #fff;
  display: flex;
}

coup-list .item .con .right {
  width: 0.84rem;
  height: 0.24rem;
  background: rgba(255, 255, 255, 0.8);
  color: #b69150;
  text-align: center;
  line-height: 0.24rem;
  border-radius: 0.04rem;
  position: absolute;
  right: 0.2rem;
}
.coup-list-list .item .con .left .name {
  font-size: 0.2rem;
}
.coup-list-list .item .con .left .time {
  margin-top: 0.12rem;
}

/* .coup-list .item .bottom  {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0,  0,  0,  0.08);
    height: 0.39rem;
    flex-direction: row;
    padding: 0.1rem;
    box-sizing: border-box;
} */
/* 
.coup-list .item .bottom p  {
    display: block;
    height: 0.3rem;
    flex: 1;
    overflow: hidden;
    font-size: 0.13rem;
    line-height: 0.3rem;
    color: #fff;
}
.coup-list .item .bottom img  {
    width: 0.12rem;
    height: 0.12rem;
} */
</style>

 