<template>
  <div class="Myorder">
     <div class="Myorder_bt">
         <p>我的订单</p>
     </div>
     <div class="Myorder_center"  v-for="item in myorder.list" :key="item.id">
     <div class="Myorder_dd">
         <span class="ww">订单编号:{{item.order_sn}}</span>
         <span class="wf">{{item.order_status_text}}</span>
     </div>
    
    <div class="Myorder-img">
        <img src="http://yanxuan.nosdn.127.net/0984c9388a2c3fd2335779da904be393.png">

        <div class="Myorder-wz">
           <p class="Myorder-one">{{item.goods_name}}</p>
           <p class="Myorder-two">共10件商品</p>
        </div>
    </div>

    <div class="Myorder-bottom">
      <span>实付:￥1990</span>
      <button @click="pay">去付款</button>
    </div>
  </div>
</div>
</template>

<script>
import {Myorder} from '../../../http/api'
export default {
name:"myorder",
 data(){
          return{
            myorder:{
              list:[]
            }
          }
        },
 methods:{
        pay(){
          this.$router.push('/fout/myorder/pay')
        },
       _myorder(){
           Myorder().then(res =>{
           console.log(res.data.data.data)
           this.myorder.list = res.data.data;
           console.log(this.myorder.list)
         })
       }
    },
     created () {
       this._myorder()
     }
  }
</script>

<style scoped>
.myorder{
  width: 100%;
  height: 6.16rem;
  background: #eee;
}
.Myorder_bt{
  width: 100%;
  height: 0.4rem;
  background: white;
}
.Myorder_bt p{
  width:1rem; 
  line-height: 0.4rem;
  font-size: 0.13rem;
  text-align: center;
  margin: 0 auto;
}
.Myorder_center{
    width: 100%;
    height: 2rem;
    background: white;
    margin-top:0.1rem; 
}
.Myorder_dd{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding-top:0.18rem; 
    color: #333;
}
.Myorder_dd .ww{
padding-left: 0.1rem;
}
.Myorder_dd .wf{
    color: #b4282d;
    font-size: 13px;
    padding-right: 0.2rem;
}
.Myorder-img{
    margin: 0.1rem 0.1rem;
    width: 100%;
    height: 1.1rem;
    border-top: 0.1px solid #f4f4f4;
    border-bottom: 0.1px solid #f4f4f4;
}
.Myorder-img img{
  float: left;
  width: 0.8rem;
  height: 0.8rem;
  background: #f4f4f4;
  margin: 0.14rem 0.03rem;
}
.Myorder-wz{
    float: left;
    margin: 0.32rem 0.06rem;
    
}
.Myorder-one{
    font-size: 0.12rem;
}
.Myorder-two{
    color: #666;
    padding-top: 0.1rem;
}
.Myorder-bottom{
  display: flex;
  justify-content: space-between;
  margin-left: 0.14rem;
}
.Myorder-bottom span{
  padding-top: 0.08rem;
   font-size: 15px;
}
.Myorder-bottom button{
  margin-right: 0.2rem;
  width: 60px;
  height: 30px;
  border: none;
  color: white;
  background: #b4282d;
}
</style>