<template>
  <div class="pay">
           <div class="pay-bt">
                  <p class="one">支付订单</p>
           </div>

           <div class="pay-dd">
             <span class="one">订单金额</span>
             <span class="two">0元</span>
           </div>
        
           <p class="pay-zf">请选择支付方式</p> 
           <div class="pay-zf-on">
              <div class="pay-chebox">
                <img src="../../../images/pay-chebox.png" class="one">
               <span> <img src="../../../images/wxpay.png" class="two"></span>
               <span>微信支付</span>
                </div>
           </div>
           <p class="pay-ts">小程序只支持微信支付,如需其他支付方式,请在网页版支付</p>
           <button class="pay-btn">确定</button>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.pay{
  width: 100%;
}
  .pay-bt{
     width: 100%;
     height: 0.4rem;
     background: white;
  }
 .pay-bt .one{
    width:1rem; 
    line-height: 0.4rem;
    font-size: 0.13rem;
    text-align: center;
    margin: 0 auto;
  }
  .pay-dd{
    margin-top: 0.1rem;
    width: 100%;
    height: 0.44rem;
    background: white;
    display: flex;
    justify-content: space-between;
  }
  .pay-dd span{
    line-height: 0.44rem;
    font-size: 0.12rem;
  }
  .pay-dd .one{
    padding-left:0.1rem; 
  }
  .pay-dd .two{
    padding-right:0.1rem; 
  }
  .pay-zf{
    width: 1rem;
    height: 0.5rem;
    line-height: 0.5rem;
    padding-left:0.1rem; 
  }
  .pay-zf-on{
    width: 100%;
    height: 0.44rem;
    background: white;
  
  }
   .pay-chebox{
     line-height: 0.44rem;
     width: 1.3rem;
     height: 0.44rem;
     display: flex;
     align-content: center;
     justify-content: space-between
   }
   .pay img{
     margin: 0.1rem 0.01rem;
   }
  .pay-chebox .one{
    width: 0.2rem;
    height: 0.2rem;
    margin-left: 0.1rem;

  }
  .pay-chebox .two{
    width: 0.28rem;
    height: 0.28rem;
    margin-top: 0.08rem;
  }
  .pay-ts{
    color: #999;
    margin: 0.02rem 0.1rem;
  }
  .pay-btn{
    width: 100%;
    height: 0.42rem;
    position: fixed;
    bottom: 0;
    background: #b4282d;
    border: none;
    color: white;
  }
</style>