<template>
  <div class="myfootprint">
       <div class="myfootprint-top">
           <p class="bt">我的足迹</p>
       </div>

       <div class="myfootprint-center" v-for="item in myfootprint.list" :key="item.id">
           <div class="one">{{item.add_time}}</div>
           <div class="two">
               <img :src="item.list_pic_url" alt="">
          
               <div class="tree">
               <p class="o">{{item.name}}</p>
               <p class="n">{{item.goods_brief}}</p>
               <p class="e">￥199</p>
            </div>
           </div>
       </div>

  </div>
</template>

<script>
import {Myfootprint} from '../../../http/api'
export default {
    
  name:"myfootprint",
  data(){
      return{
         myfootprint:{
              list:[]
            }
      }
      
  },
   methods:{
       _myfootprint(){
           Myfootprint().then(res =>{
           console.log(res.data.data.data)
           this.myfootprint.list = res.data.data;
           console.log(this.myfootprint.list.data)
         })
       }
    },
     created () {
       this._myfootprint()
     }
  }
</script>

<style scoped>
.myfootprint{
  width: 100%;

}
.myfootprint-top{
 width: 100%;
  height: 0.4rem;
  background: white;
}
.bt{
  width:1rem; 
  line-height: 0.4rem;
  font-size: 0.13rem;
  text-align: center;
  margin: 0 auto;
}
.myfootprint-center .one{
    border-top:0.1px solid #eee; 
    width: 100%;
    height: 0.4rem;
    background: white;
    line-height: 0.4rem;
    padding: 0.01rem 0.1rem;
    border-bottom: 0.01rem solid #eee;
}
.myfootprint-center .two{
    width: 100%;
    height: 0.9rem;
    background: white;
    border-bottom:0.01rem solid #eee; 
}
.myfootprint-center .two img{
    width: 0.64rem;
    margin: 0.1rem 0.1rem;
    float: left;
}
.myfootprint .tree{
    width: 2rem;
    height: 0.64rem;
    float: left;
    margin-top: 0.1rem;
}
.myfootprint .tree .n,.myfootprint .tree .e{
    padding-top: 0.13rem
}
.myfootprint .tree .n{
color: #333;
}
</style>