<template>
  <div id="app">
    <router-view />

  </div>
</template>

<script>
fnResize();
window.onresize = function() {
  fnResize();
};
function fnResize() {
  var deviceWidth = document.documentElement.clientWidth || window.innerWidth;
  if (deviceWidth >= 750) {
    deviceWidth = 750;
  }
  if (deviceWidth <= 320) {
    deviceWidth = 320;
  }
  document.documentElement.style.fontSize = deviceWidth / 3.75 + "px";
  document.body.style.fontSize = ".12rem";
}
</script>

<style>
html{
  background: #f4f4f4;
}
</style>
