<template>
  <div>
    <nav-bar title="分类跳转的详情"></nav-bar>
    <ly-tab v-model="selectedId" :items="items" :options="options"></ly-tab>
      <div class="last-box">
      <div class="kuang-one">
        <div class="imgBox">
          <img src="http://yanxuan.nosdn.127.net/8ab2d3287af0cefa2cc539e40600621d.png" alt />
        </div>
        <p class="last-txt">轻奢纯棉刺绣水洗四件</p>
        <p class="last-price">￥899</p>
      </div>
      <div class="kuang-one">
        <div class="imgBox">
          <img src="http://yanxuan.nosdn.127.net/8ab2d3287af0cefa2cc539e40600621d.png" alt />
        </div>
        <p class="last-txt">轻奢纯棉刺绣水洗四件</p>
        <p class="last-price">￥899</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      selectedId:0,
      items: [
        {label: '首页'},
        {label: '推荐'},
        {label: '布艺软装'},
        {label: '前端'},
        {label: '后端'},
        {label: 'iOS'},
        {label: '产品'},
        {label: '人工智能'},
        {label: '设计'}
      ],
      options: {
        activeColor: '#1d98bd'
      },
    }
  },
  methods:{
   goodscategory(){
     
   }
  },
  created(){

  }

};
</script>

<style lang="stylus" scoped>
.nav {
  width: 100%;
  height: 0.4rem;
  border: 1px solid red;
  line-height: 0.4rem;
  overflow-wrap: break-word;
}
.nav span {
  display: block;
  padding: 0 0.1rem;
  margin: 0 0.1rem;
  float: left;
}
.nav span active {
  color: #ab2b2b;
  border-bottom: #ab2b2b;
}
.last-box {
  background: #fff;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.kuang-one {
  border: 1px solid #f4f4f4;
  padding: 0.07rem 0.15rem;
  text-align: center;
  float: left;
}

.imgBox {
  width: 1.55rem;
  height: 1.55rem;

  &>img {
    margin: auto;
    height: 100%;
  }
}

.last-txt {
  font-size: 0.14rem;
  margin: 0.1rem 0;
}

.last-price {
  color: #b4282d;
  font-size: 0.15rem;
}
</style>