<template>
  <div class="con">
    <nav-bar title="收藏"></nav-bar>
    <div class="box-wrap" v-for="item in items">
      <!-- <div class="box-one" @click="goDetails(item.id)"> -->
        <router-link :to="{path:'/Details',query:{id:item.value_id}}" tag="li" class="box-one">
        <img class="image" :src="item.list_pic_url" alt />
        <div class="rightTxt">
          <p>{{item.name}}</p>
          <p>{{item.goods_brief}}</p>
          <p>￥2598</p>
        </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { http } from "../../http";
export default {
  data() {
    return {
      items: ""
    };
  },
  methods: {
    getcollect() {
      http("/collect/list?typeId=0").then(res => {
        this.items = res.data.data;
        // console.log(res.data.data);
      });
    },
  },
  created() {
    this.getcollect();
  }
};
</script>

<style lang='scss' scoped>
.con {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  .box-wrap {
    background: #f4f4f4;
    border-top: 1px solid #f4f4f4;
    overflow-y: scroll;
    .box-one {
      background: white;
      border: 1px solid #f4f4f4;
      width: 100%;
      display: flex;
      height: 1.06rem;
      box-sizing: border-box;
      padding: 0.15rem 0;
      padding-left: 0.15rem;
      .image {
        width: 0.75rem;
        height: 0.75rem;
      }
      .rightTxt {
        //border: 1px solid rgb(58, 49, 49);
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
</style>