<template>
  <div class="con">
    <nav-bar title="主题详情"></nav-bar>
    <div>
      <div class="box-one">
        <swiper ref="mySwiper" :options="swiperOption">
          <swiper-slide class="swiper-slide" v-for="(item,index) in gallery" :key="index">
            <img :src="item.img_url" alt />
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
        <div class="one-mid">
          <div class="item">
            <span>30天无忧退货</span>
          </div>
          <div class="item">
            <span>48小时快速退款</span>
          </div>
          <div class="item">
            <span>满88元免邮费</span>
          </div>
        </div>
        <div class="down-up">
          <div class="txt">
            <p class="txt1">{{info.name}}</p>
            <p class="txt2">{{info.goods_brief}}</p>
            <p class="txt3">{{info.retail_price}}</p>
          </div>
        </div>
        <div class="pleace">
          <div class="a" style>
            <span class="left">请选择规格数量</span>
            <span class="right">></span>
          </div>
        </div>
      </div>
      <div class="box-two">
        <p class="shop">商品参数</p>
        <p class="grey" v-for="attr in attribute">
          <span class="grey-left">{{attr.name}}</span>
          <span class="grey-right">{{attr.value}}</span>
        </p>
      </div>
      <p class="question">
        <span>常见问题</span>
      </p>
      <div class="box-three">
        <div class="three-a" v-for="isu in issue">
          <p class="a-top">
            <span class="spot"></span>
            <span class="top-txt">{{isu.question}}</span>
          </p>
          <p class="a-down">{{isu.answer}}</p>
        </div>
      </div>
      <p class="question">
        <span>大家都在看</span>
      </p>
      <div class="last-box" v-for="good in goodsList">
        <div class="kuang-one">
          <div class="imgBox">
            <img :src="good.list_pic_url" alt />
          </div>
          <p class="last-txt">{{good.name}}</p>
          <p class="last-price">￥{{good.retail_price}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide } from "vue-awesome-swiper";
// import func from '../../../vue-temp/vue-editor-bridge'
import { http } from "../../http";
import Collect from "./Collect";
export default {
  data() {
    components: {
      swiper, swiperSlide;
    }
    return {
      goodsList:[],
      issue: [],
      attribute: [],
      info: [],
      gallery: [],
      swiperOption: {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      }
    };
  },

  methods: {
    goodsdetails() {
      let id = this.$route.query.id;
      // console.log(id);
      // 这里的params是个对象  必须包裹起来{id:id}否则出现0=111不是id=111
      http("/goods/detail", "GET", {}, { id: id }).then(res => {
        this.gallery = res.data.gallery;
        this.info = res.data.info;
        this.attribute = res.data.attribute;
        this.issue = res.data.issue;
      });
    },
    goodsrelated() {
      let id = this.$route.query.id;
      http("/goods/related", "GET", {}, { id: id }).then(res => {
        console.log(res.data.goodsList)
        this.goodsList= res.data.goodsList;

      })
    }
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    }
  },
  created() {
    // let id = this.$route.query.id;
    this.goodsdetails();
    this.goodsrelated();
  }
};
</script>

<style lang="stylus" scoped>
.con {
  scroll-y;
}

img {
  width: 100%;
  height: 3.75rem;
}

.one-mid {
  height: 0.36rem;
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  padding: 0 0.3125rem;
  line-height: 0.36rem;
}

.item {
  background: url('http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/servicePolicyRed-518d32d74b.png') 0 center no-repeat;
  padding-left: 0.15rem;
}

.down-up {
  height: 1.53rem;
  padding: 0.16rem 0.153rem 0.16rem 0;
  background: #fff;
}

.txt {
  height: 100%;
  margin-left: 0.153rem;
  text-align: center;
}

.txt1 {
  font-size: 0.21rem;
  margin-bottom: 0.1rem;
}

.txt2 {
  font-size: 0.12rem;
  margin-bottom: 0.21rem;
  color: #999;
}

.txt3 {
  height: 0.17rem;
  font-size: 0.17rem;
  color: #b4282d;
}

.pleace {
  height: 0.54rem;
  line-height: 0.54rem;
  background: #fff;
}

.a {
  height: 100%;
  margin-left: 0.153rem;
  border-top: 0.001rem solid #f4f4f4;
  display: flex;
  justify-content: space-between;
}

.left {
  font-size: 0.15rem;
}

.right {
  font-size: 0.2rem;
  margin-right: 0.08rem;
}

.box-two {
  // height: 2.2rem;
  background: #ffffff;
  margin-top: 0.1rem;
  padding: 0 0.15rem 0.125rem 0.15rem;
}

.shop {
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.15rem;
}

.grey {
  height: 0.34rem;
  line-height: 0.34rem;
  padding: 0.05rem 0.1rem;
  margin-bottom: 0.05rem;
  background: #f7f7f7;
  overflow: hidden;
}

.grey-left {
  color: #999;
  font-size: 0.125rem;
  width: 0.67rem;
  display: inline-block;
  float: left;
}

.grey-right {
  width: 77%;
  color: #333;
  font-size: 0.15rem;
  float: left;
}

.question {
  height: 0.72rem;
  text-align: center;
  line-height: 0.72rem;
  background: #fff;
}

.question span {
  font-size: 0.15rem;
  display: block;
  position: relative;
}

.question span::before, .question span::after {
  content: ''; /* CSS伪类用法 */
  position: absolute; /* 定位背景横线的位置 */
  top: 52%;
  background: #494949; /* 宽和高做出来的背景横线 */
  width: 9%;
  height: 0.01rem;
  background: #ccc;
}

.question span::before {
  left: 25%;
}

.question span::after {
  right: 20%;
}

.box-three {
  height: auto;
  padding: 0 0.1rem;
  background: #fff;
}

.three-a {
  height: auto;
  padding-bottom: 0.12rem;
}

.a-top {
  height: 0.22rem;
  line-height: 0.15rem;
}

.spot {
  display: block;
  width: 0.06rem;
  height: 0.06rem;
  background: #b4282d;
  border-radius: 50%;
  float: left;
  margin: 0.09rem 0.08rem 0 0;
}

.top-txt {
  float: left;
}

.a-down {
  word-wrap: break-word;
  margin-left: 0.1rem;
  line-height: 0.18rem;
  color: #787878;
}

.last-box {
  background: #fff;
  // height: auto;
  // display: flex;
  // justify-content: space-between;
}

.kuang-one {
  width :40%;
  border: 1px solid #f4f4f4;
  padding: 0.07rem 0.1rem;
  text-align: center;
  float: left;
}

.imgBox {
  width: 1.55rem;
  height: 1.55rem;

  &>img {
    margin: auto;
    height: 100%;
  }
}

.last-txt {
  font-size: 0.14rem;
  margin: 0.1rem 0;
}

.last-price {
  color: #b4282d;
  font-size: 0.15rem;
}
</style>