<template>
  <div class="payer">

      <div class="payer-top">
          <p class="bt">仿网易严选</p>
      </div>

      <div class="payer-tuu">
          <img src="../../../images/payer.png" alt="">
           <img src="../../../images/payer.png" alt="">
            <img src="../../../images/payer.png" alt="">
             <img src="../../../images/payer.png" alt="">
              <img src="../../../images/payer.png" alt="">
               <img src="../../../images/payer.png" alt="">
               <img src="../../../images/payer.png" alt="">
               <img src="../../../images/payer.png" alt="">
               <img src="../../../images/payer.png" alt="">
               <img src="../../../images/payer.png" alt="">
               <img src="../../../images/payer.png" alt="">
               <img src="../../../images/payer.png" alt="">
               <img src="../../../images/payer.png" alt="">
      </div>

      <div class="payer-yh">
        <span class="o">请选择优惠券</span>
        <span class="n">19张</span>
        <span class="e"><img src="../../../images/you.png" alt=""></span>
      </div>

  </div>
</template>

<script>
export default {

}
</script>

<style>
.payer-top{
 width: 3.75rem;
  height: 0.4rem;
  background: white;
}
.bt{
  width:1rem; 
  line-height: 0.4rem;
  font-size: 0.13rem;
  text-align: center;
  margin: 0 auto;

}
.payer-tuu{
    width: 100%;
    height: 0.83rem;
}
.payer-tuu img{
  float: left;
  width: 0.288rem;
}
.payer-yh{
  width: 100%;
  height: 0.54rem;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.15rem;
  color: #666;
}
.o{
  margin-left:0.2rem; 
}
.n{
  margin-left: 2rem;
}
.e img{
  width: 0.3rem;
  height: 0.3rem;
}
.payer-cren{
  width: 100%;
  height: 1.58rem;
  background: white;
  margin-top: 0.1rem;
}

</style>