<template>
  <div class="shopping">

   <div class="shopping-top">
     <p class="bt">仿网易严选</p>
   </div>

    <div class="shopping-btl">
      <span class="one">30天无忧退货</span>
      <span class="one">48小时快速退款</span>
      <span class="one">满88元免邮费</span>
    </div>

    

    <div class="shopping-center"  v-for="item in shopping.list" :key="item.id">
      <div class="chebox" >
      </div>
      <div class="chenbox-img" >
          <img :src="item.list_pic_url">
      
         <div class="chenbox-text">
         <div class="txt_one">
            <span class="txt">{{item.goods_name}}</span>
            <span class="txt">X{{item.number}}</span>
         </div>
         <div class="txt_two">
           <span class="txt">￥{{item.market_price}}</span>
         </div>
       </div>
      
      </div>
    </div>
   
   <div class="shopping-bottom">
    <div class="chenbox_two">
      <span>全选(0)</span>
      <span>￥0</span>
    </div>
     
     <div class="chenbox-bh">
       <span>编辑</span>
       <button @click="Payer">下单</button>
     </div>
     
   </div>
  </div>
     
</template>
<script>
import{ GetShopping} from '../../../http/api'
export default {
  name: "shopping",
  data(){
    return{
       shopping:{
         list:[]
       },
       shoppings:{
         list:[]
       }
    }
  },
 
   methods: {
     Payer(){
       this.$router.push('/fout/shopping/payer')
     },
        _getShopping() {
            GetShopping().then(res => {
              // console.log(res.data.data.cartList)
              this.shopping.list= res.data.data.cartList
              // console.log( this.shopping.list)
            })
        },
        _getshoppings(){
         GetShoppings().then(res => {
              console.log(res.data.data.cartTotal)
              this.shoppings.list= res.data.data.cartTotal
              console.log( this.shoppings.list)
            })
        }
    },
   created () {
     this._getShopping()
     
  }
}

</script>

<style scoped>
.shopping{
  width: 100%;
  height: 6.58rem;
  background: #eee;

}
.shopping-top{
 width: 100%;
  height: 0.4rem;
  background: white;
}
.bt{
  width:1rem; 
  line-height: 0.4rem;
  font-size: 0.13rem;
  text-align: center;
  margin: 0 auto;

}
.shopping-btl{
  display: flex;
  justify-content:space-around;
  width: 100%;
  font-size: 13px;
  color: #666666;
  margin-top:10px; 
}
.shopping-tuu{
  width: 100%;
  height: 1.22rem;
  margin-top: 1.5rem;
  text-align: center;
}
.shopping-tuu img{
  width: 1.1rem;
  height: 1.1rem;
}
.shopping-tuu p{
  color: #999;
}
 .one{
   background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/servicePolicyRed-518d32d74b.png) 0 center no-repeat;
    background-size: 5px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    font-size: 0.02rem;
    color: #666;
}
.shopping-center{
  width: 100%;
  height: 1rem;
  background: white;
  margin-top:10px; 
}
.chebox{
  float: left;
  width: 0.2rem;
  height: 0.2rem;
  margin: 0.35rem 0.1rem;
  background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png) no-repeat;
  background-size: 0.2rem;
}
.chenbox-img img{
  float: left;
  width: 0.8rem;
  height: 0.8rem;
  background: #f4f4f4;
  margin-top: 0.1rem;
  margin-left: 0.05rem;
}
.txt_one{
  display: flex;
  justify-content: space-between;
  float: left;
  margin: 0.1rem 0.1rem;
  width:2.1rem;
  color: #666;
   overflow: hidden;
}
.txt{
  font-size: 12px;
}
.txt_two .txt{
  float: left;
   width:2.1rem;
  font-size: 15px;
   margin: 0.3rem 0.1rem;
   position: relative;
}


/* 底部 */
.shopping-bottom{
  width: 100%;
  height: 0.5rem;
  background: white;
  position: fixed;
  bottom: 0.412rem;
}

.chenbox_two{
  position: absolute;
  left: 0;
  width: 0.8rem;
  height: 0.8rem;
  background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png) no-repeat;
  background-size: 0.2rem;
  margin: 0.17rem 0.1rem;
  padding-left:25px; 
  display: flex;
  justify-content: space-between;
}

.chenbox_two span{
   margin-top:0.04rem;
   width: 1rem;
   height: 1rem;
}
.chenbox-bh span{
  line-height: 0.5rem;
  position: absolute;
  font-size: 13px;
  right: 1.4rem;
}
.chenbox-bh button{
width: 1.2rem;
height: 0.5rem;
border: none;
background: #b4282d;
position: absolute;
right: 0;
position: absolute;
color: white;
font-size:13px; 
}
</style>