<template>
  <div class="indexseek" id="xxxFullScreen">
    <!-- <div class="wap">网易严选</div> -->
    <nav-bar title="网易严选" class="tit"></nav-bar>
    <div class="hend">
      <div class="imgint">
        <img
          src="http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/search2-2fb94833aa.png"
          alt="#"
        />
        <input
          type="text"
          placeholder="520元礼包抢先领"
          name
          v-model="name"
          v-on:keyup.enter="inputTargetValue"
        />
      </div>
      <router-link :to="{path:'/one'}" replace tag="p" style="font-size:0.14rem;">取消</router-link>
    </div>
    <div class="search">
      <div class="card" v-if="history">
        <div class="a">
          <p>历史记录</p>
          <img
            @click="deleteHistory"
            src="http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/del1-93f0a4add4.png"
            alt="#"
          />
        </div>
        <div class="b">
          <div v-for="item in this.historyKeyword" :key="item.id" v-on:click="inpval">{{item}}</div>
        </div>
      </div>

      <div class="card cardb">
        <div class="a">
          <p>热门搜索</p>
        </div>
        <div class="b">
          <div v-for="item in this.hotKeyword" v-on:click="inpval">{{item.keyword}}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getSearch } from "../../http/search";
export default {
  name: "indexseek",
  data() {
    return {
      obj: "",
      hotKeyword: [],
      historyKeyword: [],
      history: true,
      name: "name"
    };
  },
  methods: {
    getSearch() {
      getSearch().then(res => {
        console.log(res.data);
        this.obj = res.data;
        this.hotKeyword = res.data.hotKeywordList;
        this.historyKeyword = res.data.historyKeywordList;
      });
    },
    deleteHistory() {
      this.historyKeyword = this.obj.historyKeywordList = [];
      this.history = false;
    },
    //获取input的值
    inputTargetValue: function(e) {
      console.log(e.target.value);

      this.name = e.target.value;
      this.search();
    },
    search() {
      let arr = this.historyKeyword;
      for (var i = 0; i < arr.length; i++) {
        if (arr[i] == this.name) {
          arr.splice(i, 1);
        }
      }

      arr.unshift(this.name);
      // console.log(arr)
      this.historyKeyword = arr;
    },
    inpval: function(e) {
      console.log(e.target.value);
    }
  },
  created() {
    this.getSearch();
  }
};
</script> 
<style scoped>
.hend {
  height: 0.45rem;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.hend .imgint {
  width: 2.98rem;
  height: 0.29rem;
  background: #f4f4f4;
  position: relative;
}
.hend .imgint input {
  width: 2.68rem;
  background: #f4f4f4;
  border: 0;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  line-height: 0.29rem;
  padding-left: 0.3rem;
}
.hend .imgint img {
  width: 0.15rem;
  height: 0.15rem;
  position: absolute;
  top: 0.06rem;
  left: 0.05rem;
}
.search {
  height: auto;
  overflow: hidden;
  /* margin-top: 91rpx; */
}
.card {
  background: #fff;
  width: 100%;
  height: auto;
  overflow: hidden;
  color: #999;
  margin-bottom: 0.1rem;
}
.card .a {
  padding: 0 0.1225rem;
  height: 0.46rem;
  line-height: 0.46rem;
  box-sizing: border-box;
  width: 100%;
  color: #000;
  font-size: 0.14rem;
}
.card .a p {
  float: left;
}
.card .a img {
  float: right;
  width: 0.27rem;
  height: 0.27rem;
  margin-top: 0.1rem;
}
.card .b {
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
  padding-left: 0.14rem;
}
.card .b div {
  display: inline-block;
  width: auto;
  height: 0.2rem;
  line-height: 0.2rem;
  padding: 0 0.1rem;
  border: 0.01rem solid #999;
  margin: 0 0.1rem 0.1rem 0;
  font-size: 0.13rem;
  color: #333;
}
.card .b .pp {
  border: 0.01rem solid #b4282d;
  color: #b4282d;
}
</style>