<template>
  <div class="warp">
    <nav-bar title="仿网易严选"></nav-bar>
    <div class="warp_1">
      <div class="top11">
        <router-link :to="{path:'/indexseek'}" replace tag="p">
          <i class="el-icon-search"></i>
          <span>商品搜索, 共239款好物</span>
        </router-link>
      </div>
    </div>
    <div class="lunbo">
      <wc-swiper>
        <wc-slide v-for="(item,index) in getList.banner" :key="index" >
          <img :src="item.image_url" class="im" />
        </wc-slide>
      </wc-swiper>
    </div>
    <div class="flx">
      <ul>
        <li v-for="(item,index) in getList.channel" :key="index">
          <img :src="item.icon_url" alt />
          <p>{{item.name}}</p>
        </li>
      </ul>
    </div>
    <div class="setion">
      <router-link :to="{path:'/onexo/pingpa'}"
            tag="p">品牌制造商直供</router-link>
      <div class="b">
        <div class="item-1">
          <router-link
            :to="{path:'/onexo/gond'}"
            tag="div"
            class="wrap1"
            v-for="(item,index) in getList.brandList"
            :key="index"
          >
            <img class="img" :src="item.new_pic_url" />
            <div class="mt">
              <span class="brand">{{item.name}}</span>
              <span class="price">{{item.floor_price}}</span>
              <span class="unit">元起</span>
            </div>
          </router-link>
        </div>
      </div>
    </div>
    <div class="setion_1">
      <p class="pp">周一周四 · 新品首发</p>
      <div class="jiaju">
        <router-link
          :to="{path:'/onexo/zhousi'}"
          tag="div"
          class="jiaju_1"
          v-for="(item,index) in getList.newGoodsList"
          :key="index"
        >
          <div class="imgg">
            <img :src="item.list_pic_url" alt />
          </div>
          <p>{{item.name}}</p>
          <p style="color:red">￥{{item.retail_price}}</p>
        </router-link>
      </div>
    </div>
    <div class="renqi">
      <p class="pp">人气推荐</p>
      <div class="renqi_1">
        <router-link
          :to="{path:'/onexo/zhousi'}"
          tag="div"
          class="renqi_2"
          v-for="(item,index) in getList.hotGoodsList"
          :key="index"
        >
          <img :src="item.list_pic_url" alt />
          <div class="renqi_3">
            <p style="margin:0;font-size:0.15rem">{{item.name}}</p>
            <p style="color:#999;">{{item.goods_brief}}</p>
            <p style="font-size:0.15rem;color:#b4282d;">￥{{item.retail_price}}</p>
          </div>
        </router-link>
      </div>
    </div>
    <div class="zhuanT">
      <p class="pp">专题精选</p>
      <div class="zhuanT_1">
        <router-link
          :to="{path:'/two/detailss'}"
          tag="div"
          class="zhuanT_2"
          v-for="(item,index) in getList.topicList"
          :key="index"
        >
          <img :src="item.item_pic_url" alt />
          <p>
            <span>{{item.title}}</span>
            <span style="color:#b4282d;margin-left:0.1rem;">￥{{item.price_info}}元起</span>
          </p>
          <p
            style="color:#ccc;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
          >{{item.subtitle}}</p>
        </router-link>
      </div>
    </div>
    <div class>
      <div class="juJ" v-for="(item,index) in getList.categoryList" :key="index">
        <p class="pp">{{item.name}}</p>
        <div class="juJ_1">
          <div class="juJ_2" v-for="(iitem,index) in item.goodsList" :key="index">
            <img :src="iitem.list_pic_url" alt />
            <p>{{iitem.name}}</p>
            <p style="color:#b4282d;">￥{{iitem.retail_price}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Indexseek from './Indexseek'
import {http} from '../../http'
export default {
  data() {
    return {
      getList: []
    };
  },
  methods: {
    clickIt: function() {
      window.location.href = "/indexseek";
    },
    getIndex() {
      this.$http("/index", "GET", {}, {}).then(res => {
        this.getList = res.data;
      });
    }
  },
  mounted() {
    this.getIndex();
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.warp {
  width: 100%;
  background: #eeeeee;
}

.warp_1 {
  width: 100%;
  height: auto;
  background: #ffffff;
  overflow: hidden;
}

.top11 {
  width: 95%;
  height: 28px;
  margin: 10px auto;
  background: #eeeeee;
  border-radius: 5px;
}

.top11 p {
  text-align: center;
  font-size: 0.1rem;
  line-height: 28px;
  margin: 0;
}

.lunbo {
  width: 100%;
  height: 2.08rem;
  background: #eeeeee;
}

.im {
  width: 100%;
  height: 2.08rem;
}

.flx {
  width: 100%;
  height: auto;
  background: #ffffff;
  margin-bottom: 0.05rem;
}

.flx ul {
  height: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.1rem;
}

.flx ul li img {
  width: 0.15rem;
  height: 0.15rem;
}

.flx ul li {
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.1rem;
}

.setion {
  width: 100%;
  height: auto;
  background: #ffffff;
}

.setion_1 {
  width: 100%;
  height: auto;
  background: #ffffff;
}

.setion_1 .pp,
.renqi .pp,
.zhuanT .pp,
.juJ .pp {
  width: 375px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  font-size: 0.15rem;
}

.setion p {
  width: 375px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  font-size: 0.15rem;
}

.b {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.wrap1 {
  width: 49.7%;
  height: 126px;
  position: relative;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}

.img {
  position: absolute;
  left: 0;
  top: 0;
}

.mt {
  position: absolute;
  z-index: 2;
  padding: 27px 31px;
  left: 0;
  top: 0;
}

.brand {
  display: block;
  font-size: 0.1rem;
  color: #333;
  font-size: 0.15rem;
}

.mt .price,
.mt .unit {
  font-size: 0.12rem;
  color: #999;
}

.item-1 {
  width: 100%;
  height: 252px;
  overflow: hidden;
  border-top: 1px solid #fff;
  margin-left: 1px;
  display: flex;
  flex-wrap: wrap;
}

.item-1 .img {
  width: 100%;
  height: 126px;
}

.jiaju {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.08rem;
}

.jiaju_1 {
  width: 47%;
  height: 1.9rem;
  padding: 5px 5px;
}
.imgg {
  width: 1.51rem;
  height: 1.51rem;
  margin: 0 auto;
}
.jiaju_1 img {
  width: 1.51rem;
  height: 1.51rem;
}

.jiaju_1 p {
  flex: none;
  font-size: 0.15rem;
  text-align: center;
  margin-bottom: 0.05rem;
}

.renqi {
  width: 100%;
  height: auto;
  background: #fff;
  margin-bottom: 0.08rem;
}

.renqi_1 {
  width: 100%;
  height: 3.96rem;
}

.renqi_2 {
  width: 98%;
  height: 1.32rem;
  margin: 0 auto;
  border-top: 1px solid rgba(37, 37, 37, 0.6);
  display: flex;
  flex-wrap: wrap;
}

.renqi_2 img {
  width: 1.2rem;
  height: 1.2rem;
}

.renqi_3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 1.2rem;
  width: 50%;
}

.renqi_3 p {
  font-size: 0.1rem;
  margin-top: 0.1rem;
}

.zhuanT {
  width: 100%;
  height: auto;
  background: #fff;
  margin-bottom: 0.08rem;
}

.zhuanT_1 {
  width: 100%;
  height: 2.66rem;
  overflow-x: scroll;
  white-space: nowrap;
}

.zhuanT_2 {
  width: 3.4rem;
  height: 2.4rem;
  margin-left: 0.2rem;
  display: inline-block;
  overflow: hidden;
  margin-right: 0.1rem;
}

.zhuanT_1 img {
  width: 3.4rem;
  height: 1.9rem;
}

.zhuanT_2 p {
  font-size: 0.13rem;
  margin-top: 0.08rem;
}

.juJ {
  width: 100%;
  height: auto;
  background: #fff;
  margin-top: 0.08rem;
}

.juJ_1 {
  width: 91.8%;
  height: 9.5rem;
  padding: 0 0.12rem;
  display: flex;
  flex-wrap: wrap;
}

.juJ_2 {
  width: 46%;
  height: 2.23rem;
  margin-left: 0.1rem;
}

.juJ_2 img {
  width: 1.6rem;
  height: 1.6rem;
  background: #f8f8f8;
  margin-bottom: 0.08rem;
}

.juJ_2 p {
  text-align: center;
  font-size: 0.15rem;
  margin-top: 0.05rem;
}

.icon {
  background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/search2-2fb94833aa.png)
    center no-repeat;
  background-size: 100%;
  width: 15px;
  height: 15px;
  margin-top: 5px;
}
</style>